In [31]:
import os

import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### Define CSV and read in data

**TODO - read in both 2021 and 2022 files and concatenate**

In [16]:
# Define file
csv_file_21 = 'dc_311_2021_data.csv'
csv_file_22 = 'dc_311_2022_data.csv'

In [17]:
# Read in data
data_dir = os.path.join('..', 'data', 'raw')

df_21 = pd.read_csv(os.path.join(data_dir, csv_file_21))
df_21['api_year'] = 2021

df_22 = pd.read_csv(os.path.join(data_dir, csv_file_22))
df_22['api_year'] = 2022

df = pd.concat([df_21, df_22], ignore_index=True)

/var/folders/rq/rs89ll8n2w93x8gnl0mtn7sw0000gn/T/ipykernel_35394/4188963757.py:4: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_21 = pd.read_csv(os.path.join(data_dir, csv_file_21))
/var/folders/rq/rs89ll8n2w93x8gnl0mtn7sw0000gn/T/ipykernel_35394/4188963757.py:7: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_22 = pd.read_csv(os.path.join(data_dir, csv_file_22))

### Transform data to make EDA easier

In [18]:
# Convert all column names to lowercase
df.columns = [col.lower() for col in df.columns]

In [19]:
# Convert columns to date/time as appropriate
time_cols = ['adddate', 'resolutiondate', 'serviceduedate', 'serviceorderdate',
             'inspectiondate', 'gdb_from_date', 'gdb_to_date']
for col in time_cols:
    df[col] = pd.to_datetime(df[col], unit='ms', errors='coerce')

### Profile dataframe

Initial observations:<br>
- `objectid`: Confirmed that all values are unique.
- `servicecode`:
- `servicecodedescription`:
- `servicetypecodedescription`:
- `organizationacronym`:
- `servicecallcount`: DROP. All values are 1.
- `addate`:
- `resolutiondate`:
- `serviceduedate`:
- `serviceorderdate`:
- `serviceorderstatus`:
- `status_code`:
- `servicerequestid`:
- `priority`:
- `streetaddress`:
- `xcoord`:
- `ycoord`:
- `latitude`:
- `longitude`:
- `city`:
- `state`:
- `zipcode`
- `maraddressrepositoryid`:
- `ward`:
- `details`:
- `gis_id`:
- `globalid`:
- `creator`:
- `created`:
- `editor`:
- `edited`:
- `gdb_from_date`:
- `gdb_to_date`:
- `gdb_archive_oid`:
- `api_year`:

##### General Profiling

In [33]:
df.columns

Index(['objectid', 'servicecode', 'servicecodedescription',
       'servicetypecodedescription', 'organizationacronym', 'servicecallcount',
       'adddate', 'resolutiondate', 'serviceduedate', 'serviceorderdate',
       'inspectionflag', 'inspectiondate', 'inspectorname',
       'serviceorderstatus', 'status_code', 'servicerequestid', 'priority',
       'streetaddress', 'xcoord', 'ycoord', 'latitude', 'longitude', 'city',
       'state', 'zipcode', 'maraddressrepositoryid', 'ward', 'details',
       'gis_id', 'globalid', 'creator', 'created', 'editor', 'edited',
       'gdb_from_date', 'gdb_to_date', 'gdb_archive_oid', 'api_year'],
      dtype='object')

In [34]:
df.describe()

,objectid,servicecallcount,adddate,resolutiondate,serviceduedate,serviceorderdate,inspectionflag,inspectiondate,inspectorname,status_code,xcoord,ycoord,latitude,longitude,zipcode,maraddressrepositoryid,gis_id,creator,created,editor,edited,gdb_from_date,gdb_to_date,gdb_archive_oid,api_year
count,7.474900e+05,747490.0,747490,740138,747243,747490,0.0,0,0.0,0.0,747490.000000,747490.000000,747490.000000,747490.000000,747279.000000,747490.000000,0.0,0.0,0.0,0.0,0.0,360827,0,3.608270e+05,747490.000000
mean,4.827341e+06,1.0,2022-01-12 18:45:28.402591232,2022-02-07 04:18:48.196868096,2022-02-18 18:51:51.969645824,2022-01-12 18:45:28.402591232,NaN,NaT,NaN,NaN,399155.658900,138110.057354,38.910862,-77.009688,20014.504660,250014.091055,NaN,NaN,NaN,NaN,NaN,2024-09-09 07:29:56.737139712,NaT,2.701158e+06,2021.517282
min,1.000000e+00,1.0,2021-01-01 05:06:02,2021-01-01 05:07:01,2021-01-03 20:29:16,2021-01-01 05:06:02,NaN,NaT,NaN,NaN,-77.035012,38.833312,38.812834,-77.114299,20001.000000,1.000000,NaN,NaN,NaN,NaN,NaN,2024-09-09 07:29:33,NaT,1.035306e+06,2021.000000
25%,1.868732e+05,1.0,2021-07-26 19:32:42.500000,2021-08-11 17:03:59,2021-08-20 03:59:00,2021-07-26 19:32:42.500000,NaN,NaT,NaN,NaN,397200.500000,135921.880000,38.891136,-77.032280,20003.000000,66336.000000,NaN,NaN,NaN,NaN,NaN,2024-09-09 07:29:33,NaT,2.075292e+06,2021.000000
50%,3.737455e+05,1.0,2022-01-11 22:09:28,2022-02-09 13:16:55.500000,2022-02-16 13:21:11,2022-01-11 22:09:28,NaN,NaT,NaN,NaN,399096.160000,138119.730000,38.910936,-77.010426,20011.000000,236451.000000,NaN,NaN,NaN,NaN,NaN,2024-09-09 07:29:33,NaT,2.828773e+06,2022.000000
75%,9.783092e+06,1.0,2022-07-10 21:14:29.750000128,2022-07-28 16:27:31.750000128,2022-08-11 21:37:41,2022-07-10 21:14:29.750000128,NaN,NaT,NaN,NaN,401120.600000,140601.810000,38.933289,-76.987083,20019.000000,284087.000000,NaN,NaN,NaN,NaN,NaN,2024-09-09 07:29:33,NaT,2.919186e+06,2022.000000
max,1.171488e+07,1.0,2023-01-01 04:46:01,2024-09-25 21:03:09,2024-12-18 19:39:51,2023-01-01 04:46:01,NaN,NaT,NaN,NaN,407848.390245,147511.840000,38.995540,-76.909531,20597.000000,914470.000000,NaN,NaN,NaN,NaN,NaN,2024-09-18 10:27:53,NaT,4.306383e+06,2022.000000
std,4.798458e+06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3518.558456,3678.642450,0.032855,0.037295,35.710991,234294.422386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.088371e+05,0.499702

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747490 entries, 0 to 747489
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   objectid                    747490 non-null  int64
 1   servicecode                 747490 non-null  object
 2   servicecodedescription      747490 non-null  object
 3   servicetypecodedescription  743484 non-null  object
 4   organizationacronym         747275 non-null  object
 5   servicecallcount            747490 non-null  int64
 6   adddate                     747490 non-null  datetime64[ns]
 7   resolutiondate              740138 non-null  datetime64[ns]
 8   serviceduedate              747243 non-null  datetime64[ns]
 9   serviceorderdate            747490 non-null  datetime64[ns]
 10  inspectionflag              0 non-null       float64
 11  inspectiondate              0 non-null       datetime64[ns]
 12  inspectorname               0 non-null       float64
 13  serviceorderstatus          747490 non-null  object
 14  status_code                 0 non-null       float64
 15  servicerequestid            747490 non-null  object
 16  priority                    747030 non-null  object
 17  streetaddress               747489 non-null  object
 18  xcoord                      747490 non-null  float64
 19  ycoord                      747490 non-null  float64
 20  latitude                    747490 non-null  float64
 21  longitude                   747490 non-null  float64
 22  city                        747490 non-null  object
 23  state                       747490 non-null  object
 24  zipcode                     747279 non-null  float64
 25  maraddressrepositoryid      747490 non-null  float64
 26  ward                        746799 non-null  object
 27  details                     667 non-null     object
 28  gis_id                      0 non-null       float64
 29  globalid                    747490 non-null  object
 30  creator                     0 non-null       float64
 31  created                     0 non-null       float64
 32  editor                      0 non-null       float64
 33  edited                      0 non-null       float64
 34  gdb_from_date               360827 non-null  datetime64[ns]
 35  gdb_to_date                 0 non-null       datetime64[ns]
 36  gdb_archive_oid             360827 non-null  float64
 37  api_year                    747490 non-null  int64
dtypes: datetime64[ns](7), float64(15), int64(3), object(13)
memory usage: 216.7+ MB